@import url("https://fonts.googleapis.com/css2?family=Meow+Script&family=Playwrite+DK+Uloopet+Guides&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
/* button  */
.primery_btn{
  border: 2px solid #396cf0;
  background-color: #396cf0;
  border-radius: 5px;
  padding: 10px  20px;
  color: #fff;
  font-weight: 500;
}
.primery_btn:hover{
  background-color: #fff;
  color: #396cf0;
  border-radius: #396cf0;
  font-weight: 500;
}
.secondary_btn{
  border: 2px solid #396cf0;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px  20px;
  color: grey;
  font-weight: 500;
}
.secondary_btn:hover{
  background-color: #396cf0;
  color: #396cf0;
  border-radius: #396cf0;
  font-weight: 500;
  color: #fff;
}
/* button end */





/* navbarr start */
.cstm_head a{
  color: #fff;
  text-decoration: none;
}
.cstm_head {
  padding: 10px;
  color: white;
}
.cstm_navbar{
  background-color: #fff;
}
.brand_logo img {
  width: 180px;
  cursor: pointer;
  padding: 20px 0px;
  background: white;
}
.cstm_nav .nav-link {
  position: relative;
  padding: 12px 20px;
  margin: 0 15px;
  color: #000;
  font-weight: 500;
  transition: color 0.3s ease;
  z-index: 1;
}

/* SLIDE BACKGROUND EFFECT */
.cstm_nav .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: width 0.3s ease;
  z-index: -1;
}

/* HOVER EFFECT */
.cstm_nav .nav-link:hover::before {
  width: 100%;
}

.cstm_nav .nav-link:hover {
  color: #1498d6;
}

/* ACTIVE UNDERLINE */
.cstm_nav .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 0%;
  height: 2px;
  background: #1498d6;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

/* Hover pe underline bhi aaye */
.cstm_nav .nav-link:hover::after {
  width: 100%;
}

/* ACTIVE LINK */
.cstm_nav .nav-link.active {
  color: #1498d6 !important;
}

.cstm_nav .nav-link.active::after {
  width: 60%;
}
/* responsive start  */
@media (max-width: 1025px){
  .cstm_head {
display: none !important;
}
}
/* responsive start End */
/* navbarr start End */

/* carousel start  */
.caro_img {
  width: 100%;
  height: 750px;
}
.caro_span .carousel-control-prev,
.caro_span .carousel-control-next {
  width: 50px;
  height: 50px;
  background-color: rgba(33, 37, 151, 0.461);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0px 100px;
}

/* Icon center karne ke liye */
.caro_span .carousel-control-prev-icon,
.caro_span .carousel-control-next-icon {
  width: 20px;
  height: 20px;
}
.caro_span .carousel-control-prev:hover,
.caro_span .carousel-control-next:hover {
  background-color: #1498d6;
}
/* responsive start  */
@media (max-width: 426px){

}
/* responsive start End */
/* carousel start End */

/* Welcome to Hospital start  */
.cstm_bgimg {
  height: auto;
  background-image: url("../images/bgimage_in gagan.png");
  background-position: center;
  background-size: cover;
}
.text_content img {
  max-width: 100%;
  border-radius: 10px;
}
.text_content a {
  padding: 20px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin: 30px;
}
.cstm_font {
  font-family: "Meow Script", cursive;
  font-size: 42px;
}
/* responsive start  */
@media (max-width: 1025px){
 .text_content a{
  margin: 30px 0px;
  padding: 10px 5px;
 }
}
@media (max-width: 321px){
 
}
/* Welcome to Hospital End  */

/* Madical services */
.mdl_ser_bg{
  background-color: #f5f8fa;
}
.cstm_cols_div {
  background-color: #fff;
  border-radius: 10px;
  transform: 10px;
}
.cstm_cols_div:hover{
  background-color: #396cf0;
  color: #fff;
  transition: all 0.6s ease-in-out;
}
.cstm_cols_div:hover img{
 filter: brightness(0) invert(1);
}
.cstm_cols_div img{
  width: 65px;
  height: 65px;
  color: #fff; 
}
/* Madical services End */
 
/* Meet Orr Team  */
.none_div{
  display: flex;
  justify-content: center;
}
.none_div1{
  height: 3px;
  width: 60px;
  background-color: #396cf0;
  border-radius: 5px;
  display: flex;
  border: 1px solid #396cf0;
  justify-content: center;
}
.bg_color{
  background-color: #396cf0;
}
.cstm_tabs{
  padding: 20px 0px;
  margin-bottom: 40px;
  background-color: #f1f7fa;
}
.cstm_tabs a{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
  padding: 20px 0px;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid #000;
}
.cstm_tabs a:hover{
  border: none;
  color: #396cf0;
}
.cstm_tabs a.active{
  border: none;
  color: #396cf0;
}
.catm_madern_tech{
  padding: 60px;
}
.catm_madern_tech h4{
  font-size: 23px;
  margin-bottom: 20px;
}
.catm_madern_tech p{
font-size: 18px;
font-weight: 400;
margin-bottom: 30px;
}
.catm_madern_tech h4{
  font-size: 22px;
  font-weight: 700;
}
/* responsive start  */
@media (max-width: 1025px){
  .cstm_tabs a{
  font-size: 31px;
}
}
@media (max-width: 769px){
  .cstm_tabs a{
  font-size: 23px;
}
}
@media (max-width: 426px){
   .cstm_tabs{
    font-size: 30px;
    margin: 0px;
    background-color: transparent;
    padding: 0px;
   }
  .cstm_tabs a{
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* responsive start End  */
 /* Meet Orr Team End */
 
 /* Working Process */
 .working_bg{
  background-color: #f6f7f9;
  padding-top:70px ;
 }
 .cstm_img_working{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
.cstm_img_working h4{
  font-size: 28px;
  font-weight: 600;
}
.cstm_img_working img{
  overflow: hidden;
  width: 270px;
  height: 270px;
  border: 10px solid #fff;  
}
.cstm_img_working:hover img{
  border:4px solid #396cf0;
  transition: all 0.3s ease-in-out;
  scale: 1.;
}
/* responsive start  */
@media (max-width: 1025px){
  .cstm_img_working h4{
  font-size: 22px;
  font-weight: 600;
}
.cstm_img_working img{
  overflow: hidden;
  width: 230px;
  height: 230px;
  border: 10px solid #fff;  
}
}
@media (max-width: 1025px){
  .cstm_img_working h4{
  font-size: 22px;
  font-weight: 600;
}
.cstm_img_working img{
  overflow: hidden;
  width: 230px;
  height: 230px;
  border: 10px solid #fff;  
}
}
/* responsive start End */
 /* Working Process End */

 /* appointment */
 .bg_img_appointment{
  height: 300px;
  background-image: url("../images/appointment_img_bg.png");
 }
 .cstm_cont_appt{
  color: #fff;
  padding-top: 75px;
 }
 
 .cstm_cont_appt h4{
  font-size: 25px;
 }
 .cstm_cont_appt h2{
  font-size: 40px;
  margin-bottom: 20px;
 }
 .cstm_cont_appt button{
  margin-top: 20px;
 }
 /* responsive start  */
 @media (max-width: 769px){
 .bg_img_appointment{
  height: 300px;
 }
 .cstm_cont_appt{
  padding-top: 70px;
 }
 .cstm_cont_appt h4{
  font-size: 25px;
  margin-bottom: 10px;
 }
 .cstm_cont_appt h2{
  font-size: 30px;
  margin-bottom: 20px;
 }
 .cstm_cont_appt button{
  margin-top: 15px;
 }
 }
 @media (max-width: 426px){
 .bg_img_appointment{
  height: 300px;
 }
 .cstm_cont_appt{
  padding-top: 70px;
 }
 .cstm_cont_appt h4{
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
 }
 .cstm_cont_appt h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
 }
 .cstm_cont_appt button{
  margin-top: 15px;
 }
 
 }
 @media (max-width: 376px){
 .bg_img_appointment{
  height: 450px;
 }
 .cstm_cont_appt{
  padding-top: 130px;
 }
 .cstm_cont_appt h4{
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
 }
 .cstm_cont_appt h2{
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
 }
 .cstm_cont_appt button{
  margin-top: 15px;
 }
 }
 /* responsive start End */
 /* appointment End */

 /* years of expriences */
.cstm_years{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.cstm_years h6{
  font-size: 25px;
  font-weight: 600;
}
.cstm_years h4{
  font-size: 50px;
  padding-top: 40px;
  font-weight: 700;
}
 /* years of expriences End */
 
 /* Intro Hospital */
 
 .about_logo img{
   width: 700px;
   height: 700px;
   display: flex;
   justify-content: center;
   align-items: center;
}
@media(max-width: 1025px){
  .about_logo img{
    width:  940px;
    height: 940px;
  }
}
@media(max-width: 769px){
  .about_logo img{
    width:  700px;
    height: 700px;
  }
}
@media(max-width: 426px){
  .about_logo img{
    width:  404px;
    height: 404px;
  }
}
@media(max-width: 376px){
  .about_logo img{
    width:  350px;
    height: 350px;
  }
}
@media(max-width: 321px){
  .about_logo img{
    width:  300px;
    height: 300px;
  }
}

/* Intro Hospital End */

  /* About Doctor */
.about_bg{
  height: 600px;
  background-color: #102737;
  
}
.none_element{
  margin:30px 0px;
  height: 2px;
  width: 90px;
  background-color: #fff;
}
.about_img_doctor img{
  width: 600px;
  height: 600px;
}

.about_doctor h2{
  font-size: 50px;
}
/* madical section  */
.bg_img_medical{
  height: auto;
  background-image: url("../images/appointment_img_bg.png");
}
.madical_text h2{
  font-size: 45px;
}
.madical_text i{
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: #396cf0;
  border: 10px solid #396cf0;
  border-radius: 50px;
}
.cstm_form {
  background-color: #fff;
}

.card-header{
 background-color: #f1f7fa;
}
.card-header:active,
.card-header:focus-visible, 
.card-header:focus{
    background-color: #396cf0 !important;
}
.cstm_accortion a{
  font-size: 25px;
  font-weight: 500;
  color: #130808;
}


/* madical section End */

@media(max-width: 1025px){


}
@media(max-width: 769px){
  .about_bg{
    height: auto
  }
  .about_img_doctor img{
  width: 270px;
  height: 300px;
}
.none_element{
  margin: 10px 0px;

}
.about_doctor h2{
  font-size: 40px;
}

}
@media(max-width: 426px){
  .about_bg{
    height: auto
  }
  .about_img_doctor img{
  width: 270px;
  height: 300px;
}
.none_element{
  margin: 10px 0px;

}
.about_doctor h2{
  font-size: 40px;
}
  .about_img_doctor img{
  width: 440px;
  height: 440px;
}
.madical_text h5{
  font-size: 20px;
  padding: 0px;
}

}
/* About Doctor End  */
 
 /* Good things */
 .gallery_tital{
  font-size: 30px;
  font-weight: 600;
  color: #396cf0;
  padding-top: 60px;
  margin-bottom: 30px;

 }
 .none_elemant_div{
  background-color: #396cf0;
  width: 300px;
  height: 2px;
  border-radius: 50pxx  ;
 }
 .none_elemant_div span {
  margin: 0px 50px ;
 }
 .none_elemant_div1{
  background-color: #396cf0;
  width: 100px;
  height: 2px;
  border-radius: 50px ;
 }
 .none_elemant_div1 span {
  margin: 0px 50px ;
 }
 .cstm_div_dp h2{
  font-size: 50px;
  font-weight: 600;
  color: #396cf0;
 }
 /* Good things End */
 
 /* contact info */
.cstm_contact_info{
  border: 1px solid #396cf0;
  border-radius: 10px;
  height: 250px;
  box-shadow: -1px 1px 10px 0px  #396cf0;
}
.cstm_contact_info i{
  font-size: 50px;
  padding:10px ;
}
.cstm_contact_info a{
  text-decoration: none;
  color: #000;
}
.cstm_contact_info h4{
  font-size: 30px;
  padding: 5px;
  font-weight: 600;
}
.cstm_contact_info p{
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  
}
.cstm_form h2{
  font-size: 40px;
  font-weight: 500;
}
.bg-light {
  background-color: #dcdcdc !important;
}

/* input style */
.custom-input {
  background: #cfd6e0;
  border: none;
  padding: 12px;
  font-size: 16px;
}

/* focus */
.custom-input:focus {
  border: 2px solid black;
  background: #e0e6ef;
  box-shadow: none;
}

/* button */
.custom-btn {
  background: #3f6edb;
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
}

.custom-btn:hover {
  background: #2f5ccc;
  color: white;
} 
 
 /* mack an appointment  */

.bg_clr_form{
  background-color: #f1f7fa;
}
.cstm_satis h2{
  font-size: 40px;
}
@media (max-width:1025px){
  .cstm_satis h2{
    font-size: 30px;
  }
}
@media (max-width:769px){
  .cstm_satis h2{
    font-size: 26px;
  }
}
@media (max-width:426px){
  .cstm_satis h2{
    font-size: 28px;
  }
}
@media (max-width:376px){
  .cstm_satis h2{
    font-size: 24px;
  }
}
@media (max-width:321px){
  .cstm_satis h2{
    font-size: 20px;
  }
}
 /* mack an appointment  End*/
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 /* footer  */

.footer_bg{
  height: auto;
  background-color: #1f1f1f;
}
.cstm_foot{
  margin: 0px 0px;
  border-bottom: 1px solid #7c7a77;
}
.footer_logo {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.footer_logo img{
  width: 180px;
  height: 250px;
}
.footer_text{
  color: #fff;
   padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.footer_text h4{
  margin-bottom: 20px;
}
ol, ul{
  padding: 0px;
}
.footer_text ul{
  padding: 0px;
  list-style: none;
}
.footer_text li{
  margin: 10px 0px;
}
.footer_text a{
  color: #fff;
  font-size: large;
  text-decoration: none;
}
.footer_text a:hover{
  color: #396cf0;
  transition: all 0.3s ease-in-out
}
.footer_text i{
  margin: 20px 5px;
  color: #396cf0;
  font-size: 15px;
}
.footer_copyright{
  color: #7c7c7c;
}
/* responsive start  */
@media (max-width:769px){
.footer_logo {
  padding-top: 40px;
  }
.footer_text {
  padding-top: 40px;
  }
}
@media (max-width:425px){
  .cstm_years{
  padding-top: 30px;
  }
}
/* responsive start End */
 /* footer End */